<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Distrito</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.name %></td>
        <td><%= favorite.address.name %></td>
        <td><%= favorite.address.district.name %></td>
        <td>
            <%= link_to 'Add', '#',  { 'class' => 'btn btn-info', 'id'=>'add_one'}  %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  
  $("#add_one").click(function(){
    $('#direccion_origen').val("las americas 3");
    
  })
    
 
});
  
</script>